@media only screen and (min-width:992px)and (max-width:1200px){
    .area{
        width: 970px;
        margin: 0 auto;
    }
    .services .service .single-service {
        width: 301px;
        margin-right: 13px;
    }
    .about .about-left{
        width: 644px;
        float: left;
    }
}
@media only screen and (min-width:768px)and (max-width:991px){
    .area{
        width: 750px;
        margin: 0 auto;
    }
    .services .service .single-service {
        width: 294px;
        margin-right: 13px;
    }
    .about .about-left{
        width: 644px;
        float: left;
    }
    .header .logo{
        width: 170px;
   
    }
    .header .manu{

        width: 551px;
     
    }
    .services .service .single-service {
        width: 231px;
        margin-right: 10px;
    }
    .single-service h4 {
 
        font-size: 21px;
        margin: 10px;

    }
    .single-service a {
        margin: auto 4px;
        margin-bottom: 7px;
    }
    .about .about-left {
        width: 535px;

    }
    .about .about-manu {

        width: 200px;
 
    }
    .about .about-left h4, .about .about-manu h4 {
        font-size: 18px;
       
    }
    .about .about-left p {
        
        font-size: 15px;
    }
    .about .about-manu ul li a {
        font-size: 15px;

    }
    .about .about-left a {
        font-size: 18px;
        padding: 10px 20px;
    }
}
@media only screen and (max-width:767px){
    .area {
        width: 320px;
    }
    .header .logo {
        width: 300px;

    }

 .header .manu ul {
            margin-top: -6px;
            text-align: center;
 }
 .header .manu ul li {
	display: block;

}
    .header .manu {
        width: 100%;

    }
    .services .tittle {

        padding: 20px 0;
    }
    .services .tittle h2 {
        font-size: 33px;

    }
    .services .service .single-service {
        width: 100%;
    }
 .single-service h4 {
         font-size: 28px;
}
.about .about-left {
	width: 100%;
}
.about .about-left h4, .about .about-manu h4 {
	font-size: 24px;
	margin-bottom: 15px;
}
.about .about-left p {
	font-size: 17px;
}
.about .about-left a {
	font-size: 20px;
	padding: 10px 20px;
}
.about .about-manu {
	margin-top: 20px;
	float: left;
	width: 100%;
	padding: 0 20px;
}
.about .about-manu ul li a {

	font-size: 17px;

}
}
@media only screen and (min-width:480px)and (max-width:767px){
    .area {
        width: 550px
    }
    .header .logo {
        width: 448px;
    }
}